:root{
	--primary: hsl(315, 50%, 70%);
	--secondary: hsl(0, 0%, 0%);
	--primary_darker: hsl(315, 50%, 45%);
}
*, html, div, body, .container{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-image: url(../img/background/bg.jpg);
	background-repeat-x: no-repeat;
	background-position-x: center;
	overflow-x: hidden;
}
.container{
	margin: 0 auto;
	justify-content: center;
}
.card{
	margin-top: 5%;
}
.body_link{
	color: var(--primary_darker);
}
.body_link:hover{
	color: var(--secondary);
}
.body_link::actived{
	color: var(--primary_darker);
}
textarea{
	resize: none;
	height: inherit;
}
.btn-custom{
	border-color: var(--primary);
	color: var(--primary);
}
.btn-custom:hover{
	background-color: var(--primary_darker);
	color: var(--secondary);
	border-color: var(--primary_darker);
}
a{
	color: var(--primary);
	text-decoration: none;
	transition: 0.5s;
}
a:hover{
	color: var(--primary_darker);
	text-decoration: none;
	transition: 0.5s;
}
.logo_car{
	padding: 0.5vh 0.5vw;
	width: 3vw;
}
h1, h2{
	text-align: center;
}
.sale-container{
	margin: 0% 7% 0% 7%;
}
.avatar{
	max-height: 7.5rem;
	display: none;
}
.product_picture{
	max-height: 7.5rem;
	display: none;
}
.product_list_img{
	display: block;
	margin-top: 1rem;
	margin-left: auto;
	margin-right: auto;
	clip-path: circle(at center);
	width: 12rem;
}
.client_list_img{
	display: block;
	margin-top: 1rem;
	margin-left: auto;
	margin-right: auto;
	clip-path: circle(at center);
	width: 12rem;
}