:root{
	--primary: hsl(315, 50%, 70%);
	--secondary: hsl(0, 0%, 0%);
	--primary_darker: hsl(315, 50%, 45%);
}
*, html, div, .container, .col-md-12{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: var(--primary);
}
.container{
	margin: 0 auto;
	justify-content: center;
}
.card{
	margin-top: 5%;
}
.body_link{
	color: var(--primary_darker);
}
.body_link:hover{
	color: var(--secondary);
}
.body_link::actived{
	color: var(--primary_darker);
}
textarea{
	resize: none;
	height: inherit;
}
.btn-custom{
	border-color: var(--primary);
	color: var(--primary);
}
.btn-custom:hover{
	background-color: var(--primary_darker);
	color: var(--secondary);
	border-color: var(--primary_darker);
}
a{
	color: var(--primary);
	text-decoration: none;
	transition: 0.5s;
}
a:hover{
	color: var(--primary_darker);
	text-decoration: none;
	transition: 0.5s;
}
.logo_car{
	padding: 0.5vh 0.5vw;
	width: 3vw;
}
.eye-password{
	position: relative;
}
.eye-password input[type=password]{
	padding-right: 40px;
}
.eye-password svg{
	position: absolute;
	right: 25px;
	top: 39px;
}
h1, h2{
	text-align: center;
}
/*Styled scrollbar
 width 
::-webkit-scrollbar{
  width: 10px;
}
Track 
::-webkit-scrollbar-track{
  background: transparent;
}
Handle
::-webkit-scrollbar-thumb{
  background: var(--primary_darker);
  border-radius: 0.5px;
}
Handle on hover
::-webkit-scrollbar-thumb:hover{
  background: var(--secondary);
}
*/