nav{
	height: 10vh;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	display: inline-flex;
	color: var(--primary);
	background: var(--secondary);
	box-shadow: 0px 2px 10px 3px lightgrey;
	z-index: 100;
	align-items: center;
	justify-content: center;
}
nav a{
	margin: 0 auto;
}
.space-top{
	height: 10vh;
}
.logo_site{
	padding: 0.5vh 0.5vw;
	width: 4.5vw;
}